table
{
    border: 1px solid black;
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
    padding: 5px;
    width: 250px;
}
th
{
    border: 1px solid black;
    padding: 5px;
    width: 250px;
}
h2,h3
{
    text-align: center;
}
.centerimg
{
    display: block;
    margin-left:auto;
    margin-right: auto;
}
